{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro render_form(form) %}
  <form method="POST">
    <dl>
      {% for field in form._fields.values() %}
        {{ render_field(field) }}
      {% endfor %}
    </dl>
    <p>
      <input type="submit" value="Submit">
    </p>
  </form>
{% endmacro %}
